<label>Server Name</label>

<!-- Passing and Using Data with Event Binding
<input type="text" class="form-control" (input)="onUpdatedServerName($event)" /> -->

<!-- Two Way Data Binding -- Combine Property and Event Binding, must use ngModel directive; triggers event and updates value in the component automatically, also updates the value if used somewhere else, reacts to changes.-->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">
  Server was created, server name is {{ serverList[serverList.length - 1] }}
</p>
<app-server></app-server>
<app-server></app-server>
